{% extends "base.html" %}
{% block title %}全部活动{% endblock %}
{% block style %}
<style>
	.btn-right {
		margin-left:24%;
		margin-right:20px;
	}
</style>
{% endblock %}
{% block content %}
<div class="row">
	<div class="col-xs-12 all-activity">
	</div>
	<div class="alert alert-info" role="alert">目前还没有发布任何活动</div>
</div>
<script type="text/javascript">
	var pageNumber = 1;

	var createActivityDiv = function(data) {
		var thumbnail = document.createElement('div');
		thumbnail.setAttribute("class", "thumbnail");

		var caption = document.createElement('div');
		caption.setAttribute("class", "caption");
		var h = document.createElement('h4');
		var t = document.createTextNode(data.name);
		h.appendChild(t);
		caption.appendChild(h);

		var h = document.createElement('p');
		var t = document.createTextNode(data.partici_fee);
		h.appendChild(t);
		caption.appendChild(h);

		thumbnail.appendChild(caption);
		return thumbnail;
	};

	$(document).ready(function () {
		var data = {
				pageNumber : pageNumber
			}
			$.ajax({
				type: "POST",
				url: "{{ url_for('activity') }}",
				data: JSON.stringify(data, null, '\t'),
				contentType: 'application/json;charset=UTF-8',
				success: function(result) {
					if (result.err_code == 'E0000') {
						$('.all-activity').empty();
						var allActivityList = document.getElementsByClassName('all-activity');
						result.data.forEach(function(e) {
							allActivityList[0].appendChild(createActivityDiv(e));
						});
					}
				}
			});
	})
</script>
{% endblock %}
