{% extends "base.html" %}
{% block title %}我的信息{% endblock %}

{% block content %}
<div class="row">
	{% if activitys %}
		<div class="col-xs-12">
			{% for a in activitys %}
			<div class="thumbnail bg-info">
				<div class="caption">
					<h3>{{ a.name }}</h3>
					<p>{{ a.description }}</p>
					<p>活动费用：<red>{{ a.partici_fee }}</red></p>
					<p><button type="button" class="btn btn-info btn-default" data-id="{{ a.id }}">参加</button></p>
			  	</div>
			</div>
			{% endfor %}
	 	</div>
	 	{% if (count > 10) %}
		<nav>
			<ul class="pager">
				<li class="next"><a href="#" data-number="2" id="down-page">下一页<span aria-hidden="true">&rarr;</span></a></li>
			</ul>
		</nav>
		{% endif %}
 	{% else %}
	 	<div class="alert alert-info" role="alert">目前还没有发布任何活动</div>
 	{% endif %}
 	<script type="text/javascript">
 		$('#down-page').click(function() {
 			var pageNumber = $(this).data('number');
 			var data = {
 				pageNumber : pageNumber
 			}
 			$.ajax({
 				type: "POST",
 				url: "{{ url_for(activity) }}",
 				data: JSON.stringify(data, null, '\t'),
 				contentType: 'application/json;charset=UTF-8',
 				success: function(result) {
 					if (result.err_code == 'E0000') {

 					}
 				}
 			})
 		});

 		var createActivityDiv = function(data) {
 			var d = document.createElement('div');
 			d.setAttribute("class", "thumbnail");
 			for (var i = Things.length - 1; i >= 0; i--) {
 				Things[i]
 			};
 			var h = document.createElement('h3');
 			var t = document.createTextNode(data.name);
 			h.appendChild(t);
 			d.appendChild(h);

 		}
 	</script>
</div>
{% endblock %}