{% extends "base.html" %}
{% block title %}全部活动{% endblock %}
{% block style %}
<style>
	.btn-right{
		margin-left:24%;
		margin-right:20px;
	}
	.btn-right-b{
		margin-left:10%;
		margin-right:20px;
	}
</style>
{% endblock %}
{% block content %}
<div class="alert alert-success add-success" role="alert"></div>
<div class="alert alert-info info" role="alert">
	<p>十人参加活动将获得群建设资金返还</p>
	<p>邀请十人以上可以获得首笔688元建设基金</p>
</div>
{% if activitys %}
<div class="row">
	<div class="col-xs-12 all-activity">
		{% for a in activitys %}
		<div class="thumbnail">
			<div class="caption">
				<h4>{{ a.name }}</h4>
				{% if a.description %}
				<p>{{ a.description[:80] }}</p>
				{% endif %}
				<p>活动费用：{{ a.partici_fee }}元/人</p>
				<p>活动日期：{{ a.datetime }}</p>
				<p>
					{% if a.is_join == 'Y' %}
					<button type="button" class="btn btn-info btn-default btn-right" data-id="{{ a.id }}">参加</button>
					{% else %}
					<button type="button" class="btn btn-info btn-default btn-right-b" data-id="{{ a.id }}">无法参加</button>
					{% endif %}
					<a href="{{ url_for('activity_detail', activity_id = a.id) }}" class="btn btn-danger active" role="button">详情</a>
				</p>
			</div>
		</div>
		{% endfor %}
	</div>
	<nav>
		<ul class="pager">
			{% if (count > 10) %}
			<li class="next"><a href="#" data-number="2" class="down">下一页</a></li>
			{% endif %}
		</ul>
	</nav>
</div>
{% else %}
<div class="alert alert-info" role="alert">目前还没有发布任何活动</div>
{% endif %}

<div class="modal fade" id="create" tabindex="-8" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&ti;</span></button>
				<h4 class="modal-title">参加活动</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" method="post" action="#">
					<div class="form-group">
						<label for="number" class="col-xs-offset-1 col-xs-3 control-label">人数</label>
						<div class="col-xs-7">
							<input type="text" name="number" class="form-control" id="number" placeholder="人数" maxlength="11">
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-offset-3 col-xs-2">
							<button type="submit" id="join-submit" class="btn btn-primary">确定</button>
						</div>
						<div class="col-xs-offset-2 col-xs-2">
							<button type="reset" id="reset" class="btn btn-danger">重置</button>
						</div>
					</div>
				</form>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
	$(function() {
		$('.add-success').hide();
		$("#date").datetimepicker({
			format: "yyyy-mm-dd hh:ii",
			autoclose: true,
			autostep: 10
		});
	});
	var createActivityDiv = function(data) {
		var thumbnail = document.createElement('div');
		thumbnail.setAttribute("class", "thumbnail");

		var caption = document.createElement('div');
		caption.setAttribute("class", "caption");

		var h = document.createElement('h4');
		var t = document.createTextNode(data.name);
		h.appendChild(t);
		caption.appendChild(h);

		if (data.description) {
			var description = document.createElement('p');
			var t = document.createTextNode(data.description.substr(0, 80));
			description.appendChild(t);
			caption.appendChild(description);
		}

		var h = document.createElement('p');
		var t = document.createTextNode("活动费用：" + data.partici_fee);
		h.appendChild(t);
		caption.appendChild(h);

		var h1 = document.createElement('p');
		var t1 = document.createTextNode("活动日期：" + data.datetime);
		h1.appendChild(t1);
		caption.appendChild(h1);

		var p = document.createElement('p');
		var btnJoin = document.createElement('button');
		btnJoin.setAttribute('type', 'button');
		btnJoin.setAttribute('data-id', data.id);
		if (data.is_join == "Y") {
			btnJoin.setAttribute('class', 'btn btn-info btn-default btn-right');
			t = document.createTextNode("参加");
		} else {
			btnJoin.setAttribute('class', 'btn btn-info btn-default btn-right-b');
			t = document.createTextNode("无法参加");
		}
		btnJoin.appendChild(t);
		p.appendChild(btnJoin);

		var btnInfo = document.createElement('button');
		btnInfo.setAttribute('type', 'button');
		btnInfo.setAttribute('class', 'btn btn-danger');
		t = document.createTextNode("详情");
		btnInfo.appendChild(t);
		p.appendChild(btnInfo);

		caption.appendChild(p);
		thumbnail.appendChild(caption);
		return thumbnail;
	}

	var page = function(cls, pageNumber, name) {
		var page = document.createElement('li');
		page.setAttribute("class", cls);

		var a = document.createElement('a');
		a.setAttribute("data-number", pageNumber);
		a.setAttribute("class", 'down');
		a.setAttribute("href", "#");
		var t = document.createTextNode(name);
		a.appendChild(t);
		page.appendChild(a);

		return page;
	}

	$(document).on("click", ".btn-right", function(event) {
		event.preventDefault();
		$('.add-success').hide();
		var data = {
			activityId : $(this).data('id')
		}
		currentActivityId = data.activityId;
		$.ajax({
			type: "POST",
			url: "{{ url_for('activity_check') }}",
			data: JSON.stringify(data, null, '\t'),
			contentType: 'application/json;charset=UTF-8',
			success: function(result) {
				if (result.err_code == 'E0000') {
					console.log(result.err_msg);
					$("#create").modal('show');
				} else {
					$('.add-success').html(result.err_msg);
					$('.add-success').show();
				}
			}
		})
	});

	$(document).on("click", "#join-submit", function(event) {
		$('.add-success').hide();
		$('.info').hide();
		event.preventDefault();
		// var date = $("#date").val();
		var number = $("#number").val();
		var data = {
			// date : date,
			number : number,
			activityId : currentActivityId
		}
		$.ajax({
			type: "POST",
			url: "{{ url_for('activity_join') }}",
			data: JSON.stringify(data, null, '\t'),
			contentType: 'application/json;charset=UTF-8',
			success: function(result) {
				$('.add-success').html(result.err_msg);
				$('.add-success').show();
				$("#create").modal('hide');
			}
		})
	})

	//分页	
	$(document).on("click", ".down", function(event) {
		event.preventDefault();
		$('.add-success').hide();
		var pageNumber = $(this).data('number');
		var data = {
			pageNumber : pageNumber
		}
		$.ajax({
			type: "POST",
			url: "{{ url_for('activity') }}",
			data: JSON.stringify(data, null, '\t'),
			contentType: 'application/json;charset=UTF-8',
			success: function(result) {
				if (result.err_code == 'E0000') {
					$('.all-activity').empty();
					var allActivityList = document.getElementsByClassName('all-activity')[0];
					result.data.forEach(function(e) {
						allActivityList.appendChild(createActivityDiv(e));
						var pageCount = Math.ceil(result.count/10);
						$('.pager').empty();
						var pageContainer = document.getElementsByClassName('pager')[0];
						if (pageNumber < pageCount) {
							if (pageNumber == 1) {
								pageContainer.appendChild(page('next', pageNumber + 1, '下一页'));
							} else {
								pageContainer.appendChild(page('previous', pageNumber - 1, '上一页'));
								pageContainer.appendChild(page('next', pageNumber + 1, '下一页'));
							}
						} else {
							if (pageNumber == pageCount) {
								pageContainer.appendChild(page('previous', pageNumber - 1, '上一页'));
							}
						}
					});
				}
			}
		});
	});
</script>
{% endblock %}
