<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

	    <title>我的信息</title>

	    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
	    <script type="text/javascript" src="../static/js/ie-emulation-modes-warning.js"></script>
		<script type="text/javascript" src="../static/js/jquery.min.js"></script>
    	<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    	<script type="text/javascript" src="../static/js/ie10-viewport-bug-workaround.js"></script>

	    <!-- <link href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet"> -->
	    <link href="http://v3.bootcss.com/examples/starter-template/starter-template.css" rel="stylesheet">
	    <!-- // <script src="./Starter Template for Bootstrap_files/ie-emulation-modes-warning.js"></script> -->
		
	    <style type="text/css">
			.test {
			    margin-top: 5px;
			}
			p {
				font-size: 10px;
			}
		</style>
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
	      	<div class="container">
	        	<div class="navbar-header">
		          	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-	expanded="false" aria-controls="navbar">
		            	<span class="sr-only">Toggle navigation</span>
		            	<span class="icon-bar"></span>
		            	<span class="icon-bar"></span>
		            	<span class="icon-bar"></span>
		          	</button>
		          	<a class="navbar-brand" href="#">撒欢吧兄弟</a>
	        	</div>
	        	<div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
	          		<ul class="nav navbar-nav">
		            	<li class="active"><a href="#">我的信息</a></li>
		            	<li><a href="#">我的群</a></li>
		            	<li><a href="#">我的活动</a></li>
	          		</ul>
	        	</div>
	      	</div>
    	</nav>
    	<div class="container">
    		<br>
			<div role="tabpanel">
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">已加入</a></li>
				    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">我的群</a></li>
				    <li role="presentation"><a href="#all" aria-controls="all" role="tab" data-toggle="tab">群部落</a></li>
				</ul>
			  	<div class="tab-content">
			    	<div role="tabpanel" class="tab-pane active" id="home">
			    		<div class="alert alert-danger test" role="alert">每个用户最多只能加入8个群</div>
			    		{% if my_quns %}
						<ul class="list-group">
							{% for q in my_quns %}
							<li class="list-group-item list-group-item-info"><span class="badge">{{ q.member_count }}</span>{{ q.name }}</li>
							{% endfor %}
						</ul>
						{% else %}
							<div class="alert alert-info" role="alert">你还没有加入任何一个群</div>
						{% endif %}
			    	</div>
			    	<div role="tabpanel" class="tab-pane" id="profile">
			    		<div class="alert alert-info test" role="alert">每个用户只能创建一个属于自己的群</div>
			    		{% if my_qun %}
			    		<table class="table">
			    			<tbody>
								<tr>
									<td class="text-primary"><strong>群名称</strong></td>
									<td>{{ my_qun.name }}</td>
								</tr>
								<tr class="info">
									<td class="text-primary"><strong>创建时间</strong></td>
									<td>{{ my_qun.register_time }}</td>
								</tr>
								<tr>
									<td class="text-primary"><strong>等级</strong></td>
									<td>{{ my_qun.rank }}</td>
								</tr>
								<tr class="info">
									<td class="text-primary"><strong>总人数</strong></td>
									<td>{{ my_qun.member_count }}</td>
								</tr>
								<tr>
									<td class="text-primary"><strong>建设资金</strong></td>
									<td>{{ my_qun.building_fund }}</td>
								</tr>
								<tr class="info">
									<td class="text-primary"><strong>已提取资金</strong></td>
									<td>{{ my_qun.extracted_fund }}</td>
								</tr>
																<tr>
									<td class="text-primary"><strong>剩余资金</strong></td>
									<td>{{ my_qun.balance_fund }}</td>
								</tr>
							</tbody>
						</table>
			    		{% else %}
			    			<div class="jumbotron">
								<p><small>你现在还没有创建输入你自己的群</small></p>
								<p class="text-primary"><small>只有当成群员人数超过10人，你才可以成为群主</small></p>
								<p class="text-center"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#create">创建群</button></p>
							</div>
			    		{% endif %}
			    	</div>
			    	<div role="tabpanel" class="tab-pane" id="all">
						<div class="alert alert-info test" role="alert">在这里你可以看见所有的群</div>
						<ul class="list-group">
							{% for q in quns %}
							<li class="list-group-item list-group-item-info qun-add" data-id="{{ q.id1 }}" data-name="{{ q.name }}"data-toggle="popover" data-placement="bottom" data-html="true"><span class="badge">{{ q.member_count }}</span>{{ q.name }}</li>
							<li class="list-group-item list-group-item-info qun-add" data-id="{{ q.id2 }}" data-name="{{ q.name }}"data-toggle="popover" data-placement="bottom" data-html="true"><span class="badge">{{ q.member_count }}</span>{{ q.name }}</li>
							<li class="list-group-item list-group-item-info qun-add" data-id="{{ q.id3 }}" data-name="{{ q.name }}"data-toggle="popover" data-placement="bottom" data-html="true"><span class="badge">{{ q.member_count }}</span>{{ q.name }}</li>
							{% endfor %}
						</ul>
			    	</div>
			  	</div>
			</div>

			<div class="modal fade" id="create" tabindex="-8" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
				    <div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title">新建群</h4>
				     	</div>
				    	<div class="modal-body">
				    		<form class="form-horizontal" method="post" action="{{ url_for('create') }}">
					            <div class="form-group">
					                <label for="name" class="col-xs-offset-1 col-xs-3 control-label">群名称</label>
					                <div class="col-xs-7">
					                    <input type="text" name="name" class="form-control" id="name" placeholder="请输入你的群名称">
					                </div>
					            </div>
					            <div class="form-group">
					                <label for="build" class="col-xs-offset-1 col-xs-3 control-label">建设资金</label>
					                <div class="col-xs-7">
					                    <input type="text" name="build" class="form-control" id="build" placeholder="请输入你的建设资金" maxlength="11">
					                </div>
					            </div>
					            <div class="form-group">
					                <div class="col-xs-offset-3 col-xs-2">
					                    <button type="submit" id="submit" class="btn btn-primary">确定</button>
					                </div>
					                <div class="col-xs-offset-2 col-xs-2">
					                    <button type="reset" id="reset" class="btn btn-danger">重置</button>
					                </div>
					            </div>
				    		</form>
				    	</div>
				    </div><!-- /.modal-content -->
			  	</div><!-- /.modal-dialog -->
			</div>
			<script type="text/javascript">
			var name, id;
			$(function () {
  				$('[data-toggle="popover"]').popover()
			});
			$('.qun-add').click(function() {
				id = $(this).data('id');
				name = $(this).data('name');
				console.log(id, name)
				// $('#law').attr("data-content", '<div><h5>你确定加入' + name + '</h5><button type="button" class="btn btn-warning add">确定</button></div>');
				// $('#law').popover();
			});
			$('.add').click(function() {
				$.ajax({
					type: "POST",
					url: "{{ url_for('qun_info') }}",
					data: JSON.stringify(data, null, '\t'),
					contentType: 'application/json;charset=UTF-8',
					success: function(result) {
						if (result.err_code == 'E0000') {
							alert('你成功加入' + name);
						};
					}
				});
			});
			</script>
	</body>
</html>