{% extends "base.html" %}
{% block title %}我的信息{% endblock %}
{% block content %}
	<div class="row">
		<div class="col-xs-6">
			<p class="text-left">昵称</p>
		</div>
		<div class="col-xs-6">
			<p class="text-right"></p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<p class="text-left">手机号码</p>
		</div>
		<div class="col-xs-6">
			<p class="text-right"></p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<p class="text-left">等级</p>
		</div>
		<div class="col-xs-6">
			<p class="text-right"></p>
		</div>
	</div>
{% endblock %}