{% extends "base.html" %}
{% block title %}我的信息{% endblock %}
{% block content %}
	<h2>基本信息</h2>
	<hr>
	<table class="table">
		<tbody>
			<tr>
				<td class="text-primary"><strong>昵称</strong></td>
				<td>{{ user.username }}</td>
			</tr>
			<tr>
				<td class="text-primary"><strong>手机号码</strong></td>
				<td>{{ user.phone_number }}</td>
			</tr>
			<tr>
				<td class="text-primary"><strong>等级</strong></td>
				<td>{{ user.rank }}</td>
			</tr>
		</tbody>
	</table>
	<h2>我的群</h2>
	<hr>
<!-- 	<div class="row">
		<div class="col-xs-6">
			<p class="text-center text-primary"><strong>昵称</strong></p>
		</div>
		<div class="col-xs-6">
			<p class="text-center">{{ user.username }}</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<p class="text-center text-primary"><strong>手机号码</strong></p>
		</div>
		<div class="col-xs-6">
			<p class="text-center">{{ user.phone_number }}</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<p class="text-center text-primary"><strong>等级</strong></p>
		</div>
		<div class="col-xs-6">
			<p class="text-center">{{ user.rank }}</p>
		</div>
	</div> -->
{% endblock %}
