{% extends "base.html" %}
{% block title %}我的信息{% endblock %}
{% block content %}
	<h4>基本信息</h4>
	<table class="table">
		<tbody>
			<tr>
				<td class="text-primary"><strong>昵称</strong></td>
				<td>{{ user.username }}</td>
			</tr>
			<tr>
				<td class="text-primary"><strong>手机号码</strong></td>
				<td>{{ user.phone_number }}</td>
			</tr>
			<tr>
				<td class="text-primary"><strong>等级</strong></td>
				<td>{{ user.rank }}</td>
			</tr>
		</tbody>
	</table>
	<h4>我的群</h4>
	{% if members %}
	<table class="table">
		<tbody>
			{% for member in member %}
			<tr>
				<td>{{ member.qun_id }}</td>
				<td>{{ member.qun_name }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>		
	{% endif %}
{% endblock %}
