{% extends "base.html" %}
{% block title %}我的信息{% endblock %}
{% block style %}
<style type="text/css">
	.test {
		margin-top: 5px;
	}
	p {
		font-size:12px;
	}
	.qun-add{
		margin-right: 10px;
	}
	.btn-xs {
		margin-left: 20px;
	}
</style>
{% endblock %}
{% block content %}
<div role="tabpanel">
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">所有成员</a></li>
		<!-- <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">群消息</a></li> -->
	</ul>
	<div class="tab-content">
		<br>
		<div role="tabpanel" class="tab-pane active" id="home">
			<div class="row">
				<div class="col-xs-10">
					<input type="text" class="form-control" id="search" placeholder="输入手机号添加用户">
				</div>
				<div>
					<button type="button" class="btn btn-default">
						<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
					</button>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-xs-12">
					<ul class="list-group">
						{% for member in members %}
						<li class="list-group-item" data-id="{{ member.openid }}">
							{{ member.username }}
							<span class="badge">删除</span>
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
	$(document).on('click', '.badge', function (event) {
		var memberId = $(this).parent().data('id');
		
	})
</script>
{% endblock %}
