{% extends "base.html" %}
{% block title %}我的信息{% endblock %}
{% block style %}
{% endblock %}
{% block content %}
<div role="tabpanel">
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">所有成员</a></li>
		<!-- <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">群消息</a></li> -->
	</ul>
	<div class="tab-content">
		<br>
		<div role="tabpanel" class="tab-pane active" id="home">
			<div class="row">
				<div class="col-xs-10">
					<input type="text" class="form-control" id="search" placeholder="输入手机号添加用户">
				</div>
				<div>
					<button type="button" class="btn btn-default">
						<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
					</button>
				</div>
			</div>
			<br>
			<div class="alert alert-success" role="alert" style="display: none"></div>
			<div class="row member-list">
				<div class="col-xs-12">
					<ul class="list-group">
						{% for member in members %}
						<li class="list-group-item" data-id="{{ member.openid }}">
							{{ member.username }}
							<button type="button" class="btn btn-danger btn-xs" style="float:right">删除</button>
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>
			<div class="row search-reuslt" style="display: none">
				<div class="col-xs-12">
					<ul class="list-group search-group">
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
	$(document).on('click', '.btn-danger', function (event) {
		var memberId = $(this).parent().data('id');
		var currentLi = $(this).parent();
		var data = {
			"deleteId": memberId
		};
		console.log(data);
		$.ajax({
			type: "POST",
			url: "{{ url_for('qun_manage_delete') }}",
			data: JSON.stringify(data, null, '\t'),
			contentType: 'application/json;charset=UTF-8',
			success: function(result) {
				if (result.err_code == 'E0000') {
					currentLi.remove();
					$('.alert-success').html(result.err_msg);
					$('.alert-success').show();
					setTimeout(function() {
						$('.alert-success').hide();
					}, 5000);
				}
			}
		});
	})

	var createResult = function (openid, name, op) {
		var li = document.createElement('li');
		li.setAttribute('class', 'list-group-item');
		li.setAttribute('data-id', openid);
		li.innerHTML = name;

		var btn = document.createElement('button');
		btn.setAttribute('type', 'button');
		if (op == "add") {
			btn.setAttribute('class', 'btn btn-info btn-xs');
			btn.innerHTML = '添加';
		} else {
			btn.setAttribute('class', 'btn btn-danger btn-xs');
			btn.innerHTML = '删除';
		}
		btn.setAttribute('style', 'float:right');

		li.appendChild(btn);
		return li;
	}

	$(document).on('click', '.btn-default', function (event) {
		$('.member-list').hide();
		var phone = $('#search').val();
		var data = {
			"phone": phone
		};
		$.ajax({
			type: "POST",
			url: "{{ url_for('qun_manage') }}",
			data: JSON.stringify(data, null, '\t'),
			contentType: 'application/json;charset=UTF-8',
			success: function(result) {
				if (result.err_code == 'E0000') {
					var group = document.getElementsByClassName('search-group')[0];
					group.innerHTML = "";
					group.appendChild(createResult(result.openid, result.name, result.err_msg));
				} else {
					$('.search-group').html('<li class="list-group-item">搜索结果不存在</li>');
				}
				$('.search-reuslt').show();
			}
		});
	})

	$(document).on('click', '.btn-info', function (event) {
		var memberId = $(this).parent().data('id');
		var currentLi = $(this).parent();
		var data = {
			"id": memberId
		};
		console.log(data);
		$.ajax({
			type: "POST",
			url: "{{ url_for('qun_manage_add') }}",
			data: JSON.stringify(data, null, '\t'),
			contentType: 'application/json;charset=UTF-8',
			success: function(result) {
				if (result.err_code == 'E0000') {
					$('.alert-success').html("你成功添加该用户");
					$('.alert-success').show();
					setTimeout(function() {
						$('.alert-success').hide();
					}, 5000);
				}
			}
		});
	})
</script>
{% endblock %}
