{% extends "base.html" %}
{% block title %}我的信息{% endblock %}
{% block style %}
<style type="text/css">
	.test {
		margin-top: 5px;
	}
	p {
		font-size:12px;
	}
	.qun-add{
		margin-right: 10px;
	}
	.btn-xs {
		margin-left: 20px;
	}
</style>
{% endblock %}
{% block content %}
			<div role="tabpanel">
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">已加入</a></li>
					<li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">我的群</a></li>
					<li role="presentation"><a href="#all" aria-controls="all" role="tab" data-toggle="tab">群部落</a></li>
				</ul>
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="home">
						<div class="alert alert-danger test quit-info" role="alert">每个用户最多只能加入8个群</div>
						<ul class="list-group list-my-qun qun-quit">
							{% for q in my_quns %}
							<li class="list-group-item list-group-item-info" data-id="{{ q.id }}"><span class="badge">{{ q.member_count }}</span>{{ q.name }}</li>
							{% endfor %}
						</ul>
					</div>
					<div role="tabpanel" class="tab-pane" id="profile">
						<div class="alert alert-info test" role="alert">每个用户只能创建一个属于自己的群</div>
						{% if my_qun %}
						<table class="table">
							<tbody>
								<tr>
									<td class="text-primary"><strong>群名称</strong></td>
									<td>{{ my_qun.name }}</td>
								</tr>
								<tr class="info">
									<td class="text-primary"><strong>创建时间</strong></td>
									<td>{{ my_qun.register_time }}</td>
								</tr>
								<tr>
									<td class="text-primary"><strong>等级</strong></td>
									<td>{{ my_qun.rank }}</td>
								</tr>
								<tr class="info">
									<td class="text-primary"><strong>总人数</strong></td>
									<td>{{ my_qun.member_count }}</td>
								</tr>
								<tr>
									<td class="text-primary"><strong>建设资金</strong></td>
									<td>{{ my_qun.building_fund }}<a href="{{ url_for('recharge') + '?showwxpaytitle=1' }}" class="btn btn-danger btn-xs active" role="button">充值</a></td>
								</tr>
								<tr class="info">
									<td class="text-primary"><strong>已提取资金</strong></td>
									<td>{{ my_qun.extracted_fund }}</td>
								</tr>
								<tr>
									<td class="text-primary"><strong>剩余资金</strong></td>
									<td>{{ my_qun.balance_fund }}</td>
								</tr>
							</tbody>
						</table>
						{% else %}
							<div class="jumbotron">
								<p><small>你现在还没有创建输入你自己的群</small></p>
								<p class="text-primary"><small>只有当成群员人数超过10人，你才可以成为群主</small></p>
								<p class="text-center"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#create">创建群</button></p>
							</div>
						{% endif %}
					</div>
					<div role="tabpanel" class="tab-pane" id="all">
						<div class="alert alert-info test" role="alert">在这里你可以看见所有的群</div>
						<div class="alert alert-success add-success" role="alert"></div>
						<ul class="list-group">
							{% for q in quns %}
							<li class="list-group-item list-group-item-info qun-down" data-id="{{ q.id }}" data-name="{{ q.name }}" data-toggle="popover" data-placement="bottom" data-html="true"><span class="badge">{{ q.member_count }}</span>{{ q.name }}</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>

			<div class="modal fade" id="create" tabindex="-8" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title">新建群</h4>
						</div>
						<div class="modal-body">
							<form class="form-horizontal" method="post" action="{{ url_for('create') }}">
								<div class="form-group">
									<label for="name" class="col-xs-offset-1 col-xs-3 control-label">群名称</label>
									<div class="col-xs-7">
										<input type="text" name="name" class="form-control" id="name" placeholder="请输入你的群名称">
									</div>
								</div>
								<div class="form-group">
									<div class="col-xs-offset-3 col-xs-2">
										<button type="submit" id="submit" class="btn btn-primary">确定</button>
									</div>
									<div class="col-xs-offset-2 col-xs-2">
										<button type="reset" id="reset" class="btn btn-danger">重置</button>
									</div>
								</div>
							</form>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div>
			
			<div class="modal fade" id="quit" tabindex="150" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-sm">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 id="quit-title"></h4>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-xs-offset-2 col-xs-2">
									<button type="button" id="quit-confirm" class="btn btn-primary">确定</button>
								</div>
								<div class="col-xs-offset-1 col-xs-2">
									<button type="button" id="quit-reset" class="btn btn-danger">取消</button>
								</div>
							</div>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div>
            {% endblock %}
            {% block js %}
			<script type="text/javascript">
			var name, id, size;
			$(document).ready(function () {
				$('[data-toggle="popover"]').popover();
				$('.add-success').hide();
				$('.qun-quit>li').click(function() {
					name = $(this).html();
					id = $(this).data('id');
					size = $('.qun-quit>li').index($(this)[0]);
					var re = /<span.+<\/span>/;
					var temp = name.match(re)[0].length;
					$('#quit-title').html("你确定退出" + name.substr(temp) + "?");
					$('#quit').modal('show');
				});
			});
			

			$(document).on('click', '#quit-confirm', function(event) {
				event.preventDefault();
				data = {
					id : id
				}
				$.ajax({
					type: "POST",
					url: "{{ url_for('qun_exit') }}",
					data: JSON.stringify(data, null, '\t'),
					contentType: 'application/json;charset=UTF-8',
					success: function(result) {
						$('.quit-info').val(result.err_msg);
						if (result.err_code == 'E0000') {
							$('.qun-quit li:eq(' + size + ')').remove();
							$('#quit').modal('hide');
						}
					}
				})
			});

			$(document).on('click', '#quit-reset', function(event) {
				$('#quit').modal('hide');
			})
			
			$('.qun-down').click(function() {
				$('.add-success').hide();
				$('.qun-down').popover('hide');
				id = $(this).data('id');
				name = $(this).data('name');
				$(this).attr("data-content",
					'<div>'
					+ '<h5>你确定加入' + name + '</h5>'
					+ '<button type="button" class="btn btn-warning qun-add">确定</button>'
					+ '<button type="button" class="btn btn-danger qun-cancle">取消</button>'
					+ '</div>');
				$(this).popover();
			});

			$(document).on("click", '.qun-cancle', function() {
				$('.qun-down').popover('hide');
			});

			$(document).on("click", '.qun-add', function() {
				data = {
					id : id
				};
				$.ajax({
					type: "POST",
					url: "{{ url_for('qun_info') }}",
					data: JSON.stringify(data, null, '\t'),
					contentType: 'application/json;charset=UTF-8',
					success: function(result) {
						if (result.err_code == 'E0000') {
							var count = Number($('.qun-down:contains(' + name + ')').children().html()) + 1;
							$('.qun-down:contains(' + name + ')').children().html(count);
							var listMyQun = document.getElementsByClassName('list-my-qun')[0];
							listMyQun.appendChild(addQunLi(name, count, id));
						}
						$('.add-success').html(result.err_msg);
						$('.add-success').show();
						$('.qun-down').popover('hide');
					}
				});
			});

			var addQunLi = function(name, count, id) {
				var e = document.createElement('li');
				e.setAttribute('class', 'list-group-item list-group-item-info');
				e.setAttribute('data-id', id);
				var t = document.createTextNode(name);
				e.appendChild(t);

				var s = document.createElement('span');
				s.setAttribute('class', 'badge');
				t = document.createTextNode(count);
				s.appendChild(t);

				e.appendChild(s);
				return e;
			}
			</script>
{% endblock %}
